@media (max-width: 992px){

    /*------ HEADER ------*/
    .header{
        background-position: 50% 0%;
    }
    /*------ HEADER ------*/

    /*------------- INICIO -------------*/
    .textoImagenInicio{
        @include props-flex(column, center, center);
    }

    .mainInicio img{
        width: 90%;
    }

    .textoInicio iframe{
        width: 100%;
    }

    /*------------- INICIO -------------*/


    /*------------- JEFES -------------*/
    .tituloJefes img{
        width: 8%;
    }
    
    .articulosJefes iframe{
        width: 85%;
    }

    /*------------- JEFES -------------*/



    /*--------- HISTORIA ---------*/
    .articuloHistoria h2{
        font-size: 30px;
    }

    .imgHistoria figure{
        @include props-flex(column, center, center);
        margin-bottom: 15px;

        img{
            width: 90%;
            margin-bottom: 15px;
        }
    }
    /*--------- HISTORIA ---------*/

    /*--------- PRODUCTOS ---------*/
    .asideProductos h2{
        font-size: 20px;
    }

    .listaAsideProductos a{
        font-size: 14px;
    }
    /*--------- PRODUCTOS ---------*/

    /* ----- FOOTER ----- */
    .footerRedes h2{
        font-size: 30px;
        padding: 10px 15px 10px 15px;
    }
    .footerJuegos h2{
        font-size: 25px;
        padding: 10px 15px 10px 15px;
    }
    /* ----- FOOTER ----- */

}