@media (max-width: 768px){

    /*------ HEADER ------*/
    .header{
        background-position: 70% 0%;
    }
    .head img{
        width: 60%;
    }
    /*------ HEADER ------*/

    /*------------- INICIO -------------*/   
    .mainInicio img{
        width: 80%;
    }
    /*------------- INICIO -------------*/

    /*------------- JEFES -------------*/
    .tituloJefes img{
        width: 10%;
    }
    
    .articulosJefes iframe{
        width: 95%;
    }
    /*------------- JEFES -------------*/

    /*--------- HISTORIA ---------*/
    .articuloHistoria h2{
        font-size: 30px;
        p{
            text-indent: 5px; 
        }
    }

    .imgHistoria figure img{
        width: 100%;
    }
    /*--------- HISTORIA ---------*/

    /*--------- PRODUCTOS ---------*/
    .mainProductos{
        @include props-flex(column, center, center);
        width: 100%;
    }
    .listaAsideProductos{
        @include props-flex(column, space-evenly, auto);
        flex-wrap: wrap;

        a{
            font-size: 30px;
            width: auto;
        }
    }

    .asideProductos{
        width: 80%;
        margin-right: 0px;

        h2{
            font-size: 40px;
        }
    }
    /*--------- PRODUCTOS ---------*/

    /* ----- FOOTER ----- */
    .footerContenedor{
        @include props-grid(2, 25%);
        grid-template-areas: 
        "footerRedes footerRedes footerJuegos footerJuegos"
        "footerContacto footerContacto footerContacto footerContacto";
    }
    .footerRedes{
        grid-area: footerRedes;
        @include props-flex(row, flex-start, center);
        @include medidas-generales(100%, 90%, 0px, 0px);
        margin-right: 7px;
    }
    .footerJuegos{
        grid-area: footerJuegos;

        display: flex;
        justify-self: center;
        width: 100%;
        margin-left: 7px;
        margin-bottom: 15px;

        img{  
            width: 60%;
        }
    }

    .footerContacto{
        grid-area: footerContacto;
        display: flex;
        width: 100%;
    }
    /* ----- FOOTER ----- */
}

